body {
    height: 200vh;
}
h1 {
    background-color:bisque;
    color:coral;
    display: inline-block;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
}
.container {
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
    position: relative;
    top: 100px;
    z-index: 0;
    transition-duration: 2s;
    transition-timing-function: ease;
    left: -100%;
}
.box {
    width: 100px;
    height: 100px;
    position: absolute;
}
.box1 {
    background-color: red;
    top: 0px;
    left: 0px;
}
.box2 {
    background-color: blue;
    top: 0px;
    right: 0px;
}
.box3 {
    background-color: green;
    bottom: 0px;
    right: 0px;
}
.box4 {
    background-color: yellow;
    bottom: 0px;
    left: 0px;
}
.box5 {
    background-color: orange;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1:hover~.container {
    left: 0%
}